<!DOCTYPE html>
{% extends 'common/base.html' %}
{% load bootstrap4 icon %}
{% block title %}바로사인 - 운송요금 계산{% endblock %}
{% block page_name %}운송요금 계산{% endblock %}
{% block content %}
    <form id='calculator_form' action="{% url 'calculator:index' %}" method="post">
        {% csrf_token %}
        <div class='card card-body mb-3' style="height: 450px">
            <h3 class="card-title pb-2 pt-2">{% icon "compass" class='pb-2' height='100%' %} 위치정보</h3>
            <div class="row">
                <div class="col-6">
                    <div id="map_div"></div>
                </div>
                <div class="col-6">
                    {% bootstrap_field form.start_point addon_after="검색"%}
                    {% bootstrap_field form.arrival_point addon_after="검색"%}
                    <div class="mb-3 text-right">
                        <button type="button" id="search_route" class="btn btn-primary float">경로 탐색</button>
                    </div>
                    {% bootstrap_field form.distance addon_after="km" %}
                </div>
            </div>
        </div>
        <div class='card card-body'>
            <h3 class="card-title pb-2 pt-2">{% icon "grid" class='pb-2' height='100%' %} 화물정보</h3>
            <div class="row">
                <div class="col-6">{% bootstrap_field form.transport_section %}</div>
                <div class="col-6">{% bootstrap_field form.truck %}</div>
            </div>
            <div class="row">
                <div class="col-6">{% bootstrap_field form.freight_name %}</div>
                <div class="col-6">{% bootstrap_field form.load_weight addon_after="kg" %}</div>
            </div>
        </div>
        <div class="mt-5 card card-body">
            <div class="pt-3 row ">
                <h2 class="col-8 text-right fw-bold">예상 금액</h2>
                <h2 class="col-4 text-right fw-bold"><span id="calculate_result">0</span> 원</h2>
            </div>
            <div class="row">
                <small class="col-8 text-right form-text text-muted">우천시 20% 증액</small>
                <small id="rainyDayExtra" class="col-4 text-right form-text text-muted">+ 0원</small>
            </div>
        </div>
        <small class="form-text text-muted text-right">계산 된 금액은 참고용입니다. 실제금액은 현장상황에 따라 변동이 있을 수 있습니다.</small>
        <small class="form-text text-muted text-right">운행당일 날씨 정보는 <a href="https://www.weather.go.kr/w/index.do">기상청 사이트</a>를 참고해주세요</small>
        <div class="btn-group-lg mt-3 text-right">
            <button type="button" id="save_btn" class="btn btn-danger rounded-pill mr-2" style="width:10%">계산</button>
        </div>
    </form>
{% endblock %}

{% block extra_script %}
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxe69bc783e3f542c7a43652ee9bd569e0"></script>
    <script>
        TRUCK_TYPE = {% autoescape off %}{{ truck_type }}{% endautoescape %};
        unq_tmak = 'l7xxe69bc783e3f542c7a43652ee9bd569e0'
        map = null
        var new_polyLine = [];
        var new_Click_polyLine = [];
        var markers = {};
        var popups = {};
        var pointArray = [];

            $(function () {
                //TODO: 프론트 벨리데이션 출발지 ,도착지 설정 안되면 알람, 경로탐색 안되었으면 알람
                const $search_text = $('#id_start_point, #id_arrival_point')
                const $search_address_btn = $search_text.next('div')
                const $search_route_btn = $('#search_route')
                init_map();

                $search_text.keyup(function(key){
                    if(key.code === 'Enter'){
                         $(key.target).next('div').trigger('click')
                    }
                })

                $search_address_btn.attr('style','cursor: pointer;').click(function(){
                    let search_text = $(this).prev().val()
                    let type = $(this).prev().attr('name')
                    search_address(search_text, type)
                });
                $search_route_btn.click(function () {
                    //TODO: 로딩창 삽입 시도했지만 실행 타이밍이 안맞음...
                    search_route();
                    match_points();
                })

                $('#save_btn').click(function () {
                    let form_data = {
                        transport_section: $('#id_transport_section').val(),
                        truck: $('#id_truck').val(),
                        freight_name: $('#id_freight_name').val(),
                        load_weight: $('#id_load_weight').val().replace(/,/g, ''),
                        start_point: $('#id_start_point').val(),
                        arrival_point: $('#id_arrival_point').val(),
                        distance: $('#id_distance').val().replace(/,/g, '')
                    }
                    $.post('/api/calculators/',form_data, function (result) {
                        $('#calculate_result').text(addComma(result))
                        $('#rainyDayExtra').text("+ "+addComma(result*0.2))
                    }).fail(function(error) {
                        console.log(error)
                        alert('모든 필드에 올바른 값을 입력해 주세요.');
                    })
                });

                $('input[type=number]').attr('type', 'text').inputmask("numeric", {
                    autoGroup: true,
                    groupSeparator: ",",
                    digits: 1,
                    allowMinus: false,
                    repeat: 12,
                    rightAlign: false,
                    removeMaskOnSubmit: true
                }).next('div').find('span').css('background-color', '#e9ecef')
            });

        function match_points(){
            const startPoint = $('#id_start_point').val();
            const endPoint = $('#id_arrival_point').val();
            $('#id_transport_section').val('')
            $('#id_transport_section > option').each(function(idx,option){
                let section = $(option).text();
                if(section.includes('->')){
                    let startLocation = section.split('->')[0].trim();
                    let endLocation = section.split('->')[1].trim();
                    if(startPoint.includes(startLocation) && endPoint.includes(endLocation)){
                        $('#id_transport_section').val($(option).val());
                    }
                }
            });
        }



        function init_map() {
            map = new Tmapv2.Map("map_div",
                {
                    center: new Tmapv2.LatLng(37.566481622437934, 126.98502302169841), // 지도 초기 좌표
                    width: "100%",
                    height: "350px",
                    zoom: 14,
                    zoomControl: true,
                    scrollwheel: true
                });
            markers['start_point'] = new Tmapv2.Marker(
                {
                    iconSize: new Tmapv2.Size(24, 38),
                    map: map
                });
            markers['arrival_point'] = new Tmapv2.Marker(
                {
                    iconSize: new Tmapv2.Size(24, 38),
                    map: map
                });
        }
        function resetLines(){
            if (new_polyLine.length > 0) {
                for (var i = 0; i < new_polyLine.length; i++) {
                    new_polyLine[i].setMap(null);
                }
            }
            new_polyLine = [];
        }
        function drawData(data) {
            // 지도위에 선은 다 지우기
            routeData = data;
            var resultStr = "";
            var distance = 0;
            var idx = 1;
            var newData = [];
            var equalData = [];
            var pointId1 = "-1234567";
            var ar_line = [];

            for (var i = 0; i < data.features.length; i++) {
                var feature = data.features[i];
                //배열에 경로 좌표 저잘
                if (feature.geometry.type === "LineString") {
                    ar_line = [];
                    for (var j = 0; j < feature.geometry.coordinates.length; j++) {
                        var startPt = new Tmapv2.LatLng(feature.geometry.coordinates[j][1], feature.geometry.coordinates[j][0]);
                        ar_line.push(startPt);
                        pointArray.push(feature.geometry.coordinates[j]);
                    }
                    var polyline = new Tmapv2.Polyline({
                        path: ar_line,
                        strokeColor: "#ff0000",
                        strokeWeight: 6,
                        map: map
                    });
                    new_polyLine.push(polyline);
                }
                var pointId2 = feature.properties.viaPointId;
                if (pointId1 != pointId2) {
                    equalData = [];
                    equalData.push(feature);
                    newData.push(equalData);
                    pointId1 = pointId2;
                } else {
                    equalData.push(feature);
                }
            }
            geoData = newData;
            var markerCnt = 1;
            for (var i = 0; i < newData.length; i++) {
                var mData = newData[i];
                var type = mData[0].geometry.type;
                var pointType = mData[0].properties.pointType;
                var pointTypeCheck = false; // 경유지 일때만 true
                if (mData[0].properties.pointType == "S") {
                    var img = 'http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png';
                    var lon = mData[0].geometry.coordinates[0];
                    var lat = mData[0].geometry.coordinates[1];
                } else if (mData[0].properties.pointType == "E") {
                    var img = 'http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png';
                    var lon = mData[0].geometry.coordinates[0];
                    var lat = mData[0].geometry.coordinates[1];
                } else {
                    markerCnt = i;
                    var lon = mData[0].geometry.coordinates[0];
                    var lat = mData[0].geometry.coordinates[1];
                }
            }
        }
        function addMarker(x, y, type) {
            let marker = markers[type]
            marker.setMap(null);

            let icon_type= {
                start_point: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
                arrival_point: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png"
            }
            let markerPosition = new Tmapv2.LatLng(y, x)
            marker = new Tmapv2.Marker(
                {
                    position: markerPosition,
                    icon: icon_type[type],
                    iconSize: new Tmapv2.Size(24, 38),
                    map: map
                });
            map.setCenter(markerPosition);
            marker.x = x
            marker.y = y

            markers[type] = marker
            return marker
        }
        function search_route() {
            resetLines()
            var startX = markers['start_point'].x;
            var startY = markers['start_point'].y;
            var endX = markers['arrival_point'].x;
            var endY = markers['arrival_point'].y;
            var truck = TRUCK_TYPE[$('#id_truck').val()]
            var success_result;
            var headers = {};
            headers["appKey"] = unq_tmak;
            $.ajax({
                method: "POST",
                headers: headers,
                url : "https://apis.openapi.sk.com/tmap/truck/routes?version=1&format=json&callback=result",//
                async: false,
                data: {
                    startX: startX,
                    startY: startY,
                    endX: endX,
                    endY: endY,
                    reqCoordType: "WGS84GEO",
                    resCoordType: "WGS84GEO",
                    angle: "172",
                    searchOption: "0",
                    trafficInfo: "Y",
                    "truckType" : "1",
                    "truckWidth": truck.width,
                    "truckLength": truck.length,
                    "truckHeight": truck.height,
                    "truckTotalWeight": truck.weight,
                    "truckWeight": truck.loadable_weight
                },
                success: function (response) {
                    success_result = response;
                    drawData(success_result);


                    // 6. 경로탐색 결과 반경만큼 지도 레벨 조정
                    var newData = geoData[0];
                    PTbounds = new Tmapv2.LatLngBounds();
                    for (var i = 0; i < newData.length; i++) {
                        var mData = newData[i];
                        var type = mData.geometry.type;
                        var pointType = mData.properties.pointType;
                        if (type == "Point") {
                            var linePt = new Tmapv2.LatLng(mData.geometry.coordinates[1], mData.geometry.coordinates[0]);
                            PTbounds.extend(linePt);
                        } else {
                            var startPt, endPt;
                            for (var j = 0; j < mData.geometry.coordinates.length; j++) {
                                var linePt = new Tmapv2.LatLng(mData.geometry.coordinates[j][1], mData.geometry.coordinates[j][0]);
                                PTbounds.extend(linePt);
                            }
                        }
                    }
                    map.fitBounds(PTbounds);

                    let features = success_result.features
                    let distance = (features[0].properties.totalDistance / 1000).toFixed(1)
                   var tTime = " 총 시간 : "
                        + (features[0].properties.totalTime / 60)
                            .toFixed(0)
                        + "분,";
                    var tFare = " 총 요금 : "
                        + features[0].properties.totalFare
                        + "원,";
                    $('#id_distance').val(distance)

                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                },

            });
        }
        function search_address(searchKeyword, type){
    // 2. API 사용요청
            $.ajax({
                method : "GET",
                url : "https://apis.openapi.sk.com/tmap/pois?version=1&format=json&callback=result",
                async : false,
                data : {
                    "appKey" : unq_tmak,
                    "coordType" : "WGS84GEO",
                    "searchKeyword" : searchKeyword,
                    "count" : 10
                },
                success : function(response) {
                    var poiData = response.searchPoiInfo.pois.poi[0];
                    console.log(poiData)
                    if (poiData.length === 0) {
                        $("#result").text("요청 데이터가 올바르지 않습니다.");
                    } else {
                        resetLines()
                        let x = Number(poiData.noorLon)
                        let y = Number(poiData.noorLat)
                        addMarker(x, y, type);

                        let addressInfo = coordinatesToAddress(x,y)
                        let address = addressInfo.newAddress

                        var content = "<div class='m-pop' style='position: static; top: 180px; left : 320px; display: flex; font-size: 10px; box-shadow: 5px 5px 5px #00000040; border-radius: 10px; width : 200px; height:auto; background-color: #FFFFFF; align-items: center; padding: 5px;'>"
                                    +address+
                                    "</div>"
                        $('#id_'+type).val(address);
                        //Popup 객체 생성.
                        popups[type] && popups[type].setMap(null)
                        popups[type] = new Tmapv2.InfoWindow({
                            position: new Tmapv2.LatLng(y, x), //Popup 이 표출될 맵 좌표
                            content: content, //Popup 표시될 text
                            type: 2, //Popup의 type 설정.
                            map: map //Popup이 표시될 맵 객체
                        });
                    }
                },
                error : function(request, status, error) {
                    console.log(request);
                    console.log("code:"+request.status + "\n message:" + request.responseText +"\n error:" + error);
                    // 에러가 발생하면 맵을 초기화함
                    // markerStartLayer.clearMarkers();
                    // 마커초기화
                    map.setCenter(new Tmapv2.LatLng(37.570028, 126.986072));
                    alert("주소를 정확히 입력해 주세요!")
                    $('#id_'+type).focus()
                }
            });
        }

        function coordinatesToAddress(lon, lat) {
            var result
            $.ajax({
                method: "GET",
                url: "https://apis.openapi.sk.com/tmap/geo/reversegeocoding?version=1&format=json&callback=result",
                async: false,
                data: {
                    "appKey": unq_tmak,
                    "coordType": "WGS84GEO",
                    "addressType": "A10",
                    "lon": lon,
                    "lat": lat
                },
                success: function (response) {
                    // 3. json에서 주소 파싱
                    var arrResult = response.addressInfo;

                    //법정동 마지막 문자
                    var lastLegal = arrResult.legalDong
                        .charAt(arrResult.legalDong.length - 1);

                    // 새주소
                    newRoadAddr = arrResult.city_do + ' '
                        + arrResult.gu_gun + ' ';

                    if (arrResult.eup_myun == ''
                        && (lastLegal == "읍" || lastLegal == "면")) {//읍면
                        newRoadAddr += arrResult.legalDong;
                    } else {
                        newRoadAddr += arrResult.eup_myun;
                    }
                    newRoadAddr += ' ' + arrResult.roadName + ' '
                        + arrResult.buildingIndex;

                    // 새주소 법정동& 건물명 체크
                    if (arrResult.legalDong != ''
                        && (lastLegal != "읍" && lastLegal != "면")) {//법정동과 읍면이 같은 경우

                        if (arrResult.buildingName != '') {//빌딩명 존재하는 경우
                            newRoadAddr += (' (' + arrResult.legalDong
                                + ', ' + arrResult.buildingName + ') ');
                        } else {
                            newRoadAddr += (' (' + arrResult.legalDong + ')');
                        }
                    } else if (arrResult.buildingName != '') {//빌딩명만 존재하는 경우
                        newRoadAddr += (' (' + arrResult.buildingName + ') ');
                    }

                    // 구주소
                    jibunAddr = arrResult.city_do + ' '
                        + arrResult.gu_gun + ' '
                        + arrResult.legalDong + ' ' + arrResult.ri
                        + ' ' + arrResult.bunji;
                    //구주소 빌딩명 존재
                    if (arrResult.buildingName != '') {//빌딩명만 존재하는 경우
                        jibunAddr += (' ' + arrResult.buildingName);
                    }

                    result = {
                        newAddress : newRoadAddr,
                        oldAddress : jibunAddr,
                        firstCategory : arrResult.city_do,
                        secondCategory : arrResult.gu_gun,
                    };


                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n"
                        + "message:" + request.responseText + "\n"
                        + "error:" + error);
                }
            });
            return result
        }
        function addComma(num) {
            var regexp = /\B(?=(\d{3})+(?!\d))/g;
            return num.toString().replace(regexp, ',');
        }
    </script>
{% endblock %}





