<!DOCTYPE html>
{% extends 'common/base.html' %}
{% load bootstrap4 icon%}
{% block page_name %}화물 등록{% endblock %}
{% block content %}
    <form action="{% url 'calculator:index' %}" method="post">
        {% csrf_token %}
        <div class ='card card-body mb-3'>
            <h3 class="card-title">{% icon "grid" class='pb-2' height='100%'%} 화정보</h3>
            <div class="row">
                <div class="col-6">{% bootstrap_field form.transport_section %}</div>
                <div class="col-6">{% bootstrap_field form.truck %}</div>
            </div>
            <div class="row">
                <div class="col-6">{% bootstrap_field form.freight_name %}</div>
                <div class="col-6">{% bootstrap_field form.load_weight addon_after="kg" %}</div>
            </div>
        </div>
        <div class ='card card-body'>
            <h3 class="card-title">{% icon "compass" class='pb-2' height='100%'%} 위치정보</h3>
            <div class="row">
                <div class="col-6">
                    <div id="map_div"></div>
                </div>
                <div class="col-6">
                    {% bootstrap_field form.start_point %}
                    {% bootstrap_field form.arrival_point %}
                    {% bootstrap_field form.distance addon_after="km" %}
                </div>
            </div>
        </div>

        <div class="mt-5 card card-body">
            <div class="pt-3 row ">
                <h2 class="col-8 text-right">예상 금액</h2>
                <h2 class="col-4 text-right"><span>0</span> 원</h2>
            </div>
        </div>
        <div class="btn-group-lg mt-5 text-right">
            <button type="submit" id="save_btn" class="btn btn-danger rounded-pill mr-2">계산</button>
        </div>
    </form>
{% endblock %}

{% block extra_script %}
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxe69bc783e3f542c7a43652ee9bd569e0"></script>
    <script>
        CHARGE_TYPE = {% autoescape off %}{{ chargeType }}{% endautoescape %}
            $(function () {

                $('input[type=number]').attr('type', 'text').inputmask("numeric", {
                    autoGroup: true,
                    groupSeparator: ",",
                    digits: 0,
                    allowMinus: false,
                    repeat: 12,
                    rightAlign: false,
                    removeMaskOnSubmit: true
                }).next('div').find('span').css('background-color', '#e9ecef')

                initTmap();
            })

        function initTmap() {
            var map = new Tmapv2.Map("map_div",
                {
                    center: new Tmapv2.LatLng(37.566481622437934, 126.98502302169841), // 지도 초기 좌표
                    width: "100%",
                    height: "100%",
                    zoom: 15
                });
        }
    </script>
{% endblock %}