<!DOCTYPE html>
{% extends 'common/base.html' %}
{% load humanize %}
{% load bootstrap4 %}
{% block page_name %}화물 목록{% endblock %}
{% block content %}
{#    is_use 필드 활성화/ 비활성화 가능하도록 #}
    <div class="row">
        <div>
            <div class="card mb-4">
                <div class="card-header bg-light">
                    <div class="row px-3">
                        <span class="align-self-center col-6">
                            전체 {{ paginator.count|intcomma }}개, &nbsp{{page_obj.number}}/{{paginator.num_pages}} 페이지
                        </span>
                        <div class="col text-right">
                        <button type="button" class="btn btn-danger page_link" data-url="{% url 'calculator:transport_section_cv'%}">+</button>
                        </div>
                    </div>
                </div>

                <table class="table table-hover text-center ">
                    <colgroup>
                        <col class="col-3">
                        <col class="col-3">
                        <col class="col-3">
                        <col class="col-3">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>출발지역</th>
                        <th>도착지역</th>
                        <th>추가 거리(회기)</th>
                        <th>km당 평균 금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr class="page_link" data-url="{% url 'calculator:transport_section_uv' object.id%}">
                            <td>{{ object.start_area }}</td>
                            <td>{{ object.arrival_area }}</td>
                            <td>{{ object.extra_distance }} km</td>
                            <td>{{ object.charge_average }} 원</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4"><p class="lead mt-3">등록된 데이터가 없습니다</p></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% bootstrap_pagination page_obj extra=request.GET.urlencode justify_content='center'%}
            </div>
        </div>
    </div>

{% endblock %}