<!DOCTYPE html>
{% extends 'common/base.html' %}
{% load humanize %}
{% load bootstrap4 %}
{% block page_name %}화물 목록{% endblock %}
{% block content %}
    <div class="row">
        <div>
            <div class="card mb-4">
                <div class="card-header bg-light">
                    <div class="row px-3">
                        <span class="align-self-center col-6">
                            전체 {{ paginator.count|intcomma }}개, &nbsp{{page_obj.number}}/{{paginator.num_pages}} 페이지
                        </span>
                        <div class="col text-right">
                        <button type="button" class="btn btn-danger page_link" data-url="{% url 'calculator:freight_cv'%}">+</button>
                        </div>
                    </div>
                </div>

                <table class="table table-hover text-center ">
                    <colgroup>
                        <col class="col-3">
                        <col class="col-2">
                        <col class="col-3">
                        <col class="col-2">
                        <col class="col-2">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>태스크 ID</th>
                        <th>우선순위</th>
                        <th>요금기준 전환점</th>
                        <th>무게당 금액 (원/kg)</th>
                        <th>부피당 금액 (원/m<sup>3</sup>)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr class="page_link" data-url="{% url 'calculator:freight_uv' object.id%}">
                            <td><p class="text-nowrap mb-0">{{ object.name }}</p></td>
                            <td>{{ object.get_priority_display }}</td>
                            <td>{{ object.rate_conversion_point|intcomma }} {{ object.get_priority_unit_html| safe }}</td>
                            <td>{{ object.charge_per_weight|intcomma }} 원</td>
                            <td>{{ object.charge_per_volume|intcomma }} 원</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5"><p class="lead">no data</p></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% bootstrap_pagination page_obj extra=request.GET.urlencode justify_content='center'%}
            </div>
        </div>
    </div>

{% endblock %}